<!-- MODAL NUEVO USUARIO CON REACTIVE FORMS -->
<dialog #modalNuevoUsuario id="modalNuevoUsuario" class="modal">
  <div class="modal-box bg-white rounded-2xl shadow-2xl">
    <div class="flex items-center justify-between mb-6">
      <h3 class="font-bold text-xl text-slate-800">Registrar Funcionario</h3>
      <button
        class="btn btn-sm btn-circle btn-ghost text-slate-400"
        (click)="modalNuevoUsuario.close()"
      >
        <i class="bx bx-x text-2xl"></i>
      </button>
    </div>

    <form [formGroup]="crearUsuarioForm" (ngSubmit)="crearUsuario()">
      <!-- Campo: Nombre Completo -->
      <div class="form-control w-full mb-4">
        <label class="label">
          <span class="label-text font-semibold text-slate-600">
            Nombre Completo
          </span>
        </label>
        <input
          formControlName="fullname"
          type="text"
          placeholder="Ej. Juan Pérez"
          class="input input-bordered w-full bg-slate-50 focus:bg-white"
        />
        @if (
          crearUsuarioForm.get("fullname")?.invalid &&
          crearUsuarioForm.get("fullname")?.touched
        ) {
          <span class="text-xs text-error mt-1"
            >El nombre es obligatorio y debe tener al menos 4 caracteres.</span
          >
        }
      </div>

      <!-- Campo: Correo Electrónico -->
      <div class="form-control w-full mb-4">
        <label class="label">
          <span class="label-text font-semibold text-slate-600">
            Correo Institucional
          </span>
        </label>

        <input
          formControlName="email"
          type="email"
          placeholder="juan.perez@ejercito.mil"
          class="input input-bordered w-full bg-slate-50 focus:bg-white"
        />
        @if (
          crearUsuarioForm.get("email")?.invalid &&
          crearUsuarioForm.get("email")?.touched
        ) {
          <span class="text-xs text-error mt-1">Ingrese un correo válido.</span>
        }
      </div>

      <!-- Campo: Rol del Funcionario -->
      <div class="form-control w-full mb-4">
        <label class="label">
          <span class="label-text font-semibold text-slate-600">
            Rol en el Sistema
          </span>
        </label>
        <select
          formControlName="role"
          class="select select-bordered w-full bg-slate-50 focus:bg-white"
        >
          <option value="client" selected>Funcionario Regular (Cliente)</option>

          <option value="agent" selected>Tecnico (Agente)</option>

          <option value="admin">Administrador (Control Total)</option>
        </select>
      </div>

      <!-- Campo: Contraseña (Temporal) -->
      <div class="form-control w-full mb-6">
        <label class="label">
          <span class="label-text font-semibold text-slate-600">
            Contraseña
          </span>
        </label>
        <input
          formControlName="password"
          type="password"
          placeholder="••••••••"
          class="input input-bordered w-full bg-slate-50 focus:bg-white"
        />
        <!-- MAGIA ROJA DINÁMICA MEJORADA -->
        @if (
          crearUsuarioForm.get("password")?.touched &&
          crearUsuarioForm.get("password")?.invalid
        ) {
          @if (crearUsuarioForm.get("password")?.hasError("required")) {
            <span class="text-xs text-error mt-1"
              >La contraseña es obligatoria.</span
            >
          } @else if (crearUsuarioForm.get("password")?.hasError("minlength")) {
            <span class="text-xs text-error mt-1">
              La contraseña debe tener al menos 6 caracteres.
            </span>
          } @else if (crearUsuarioForm.get("password")?.hasError("pattern")) {
            <span class="text-xs text-error mt-1">
              Debe incluir al menos una mayúscula, una minúscula y un número.
            </span>
          }
        }
      </div>

      <div class="modal-action mt-2">
        <button
          class="btn btn-ghost text-slate-500 font-semibold"
          (click)="modalNuevoUsuario.close()"
        >
          Cancelar
        </button>

        <button
          type="submit"
          class="btn btn-primary px-8 shadow-lg shadow-primary/30"
          [disabled]="crearUsuarioForm.invalid"
        >
          Guardar Usuario
        </button>
      </div>
    </form>
  </div>

  <form method="dialog" class="modal-backdrop bg-slate-900/40 backdrop-blur-sm">
    <button>cerrar</button>
  </form>
</dialog>
