<div class="animate-fade-in p-4 sm:p-8">
  <!-- Encabezado de la página -->
  <div
    class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 mb-8"
  >
    <div>
      <h1 class="text-3xl font-bold text-slate-800">Directorio de Usuarios</h1>
      <p class="text-slate-500 mt-1">
        Administra los accesos y roles de la plataforma.
      </p>
    </div>

    <!-- Botones de Acción -->
    <div class="flex gap-3 w-full sm:w-auto">
      <div class="join w-full sm:w-auto shadow-sm">
        <input
          #inputBuscador
          (input)="buscar(inputBuscador.value)"
          class="input input-bordered join-item w-full bg-white focus:outline-primary"
          placeholder="Buscar usuario..."
        />

        <button class="btn btn-square join-item bg-slate-100 border-slate-200">
          <i class="bx bx-search text-xl text-slate-500"></i>
        </button>
      </div>
      <button
        class="btn btn-primary shadow-lg shadow-primary/30 shrink-0"
        (click)="abrirModalNuevo()"
      >
        <i class="bx bx-user-plus text-xl"></i>
        <span class="hidden sm:inline">Nuevo</span>
      </button>
    </div>
  </div>

  <!-- Contenedor de la Tabla -->
  <div
    class="bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden"
  >
    <div class="overflow-x-auto">
      <table class="table table-zebra w-full text-slate-600">
        <!-- Cabeza de la tabla -->
        <thead
          class="bg-slate-50 text-slate-500 text-sm font-bold border-b border-slate-200"
        >
          <tr>
            <th class="px-6 py-4">Usuario</th>
            <th class="px-6 py-4 text-center">Rol</th>
            <th class="px-6 py-4 text-center hidden sm:table-cell">Estado</th>
            <th class="px-6 py-4 text-right">Acciones</th>
          </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <tbody>
          <!-- Recorremos la señal que trae los datos reales del backend -->
          @for (user of usuariosFiltrados(); track user.id) {
            <tr class="hover group transition-colors">
              <!-- Columna 1: Avatar, Nombre y Email -->
              <td class="px-6 py-4">
                <div class="flex items-center gap-4">
                  <div class="avatar placeholder">
                    <div
                      class="bg-slate-200 text-slate-600 rounded-xl w-12 h-12 flex items-center justify-center font-bold text-lg group-hover:bg-primary group-hover:text-white transition-colors"
                    >
                      {{ user.fullname.substring(0, 2).toUpperCase() }}
                    </div>
                  </div>
                  <div>
                    <div class="font-bold text-slate-800 text-base">
                      {{ user.fullname }}
                    </div>
                    <div class="text-sm opacity-70">{{ user.email }}</div>
                  </div>
                </div>
              </td>

              <!-- Columna 2: Rol (Etiquetas de color) -->
              <td class="px-6 py-4 text-center">
                <div
                  class="badge font-bold border-0 text-xs py-2 px-3 uppercase"
                  [class.bg-indigo-100]="user.role === 'admin'"
                  [class.text-indigo-700]="user.role === 'admin'"
                  [class.bg-slate-100]="user.role !== 'admin'"
                  [class.text-slate-600]="user.role !== 'admin'"
                >
                  {{ user.role }}
                </div>
              </td>

              <!-- Columna 3: Estado Activo/Inactivo -->
              <td class="px-6 py-4 text-center hidden sm:table-cell">
                <div class="flex items-center justify-center gap-2">
                  <div
                    class="w-2 h-2 rounded-full"
                    [class.bg-success]="user.isActive"
                    [class.bg-
                    error]="!user.isActive"
                  ></div>
                  <span
                    class="text-sm font-medium"
                    [class.text-slate-700]="user.isActive"
                    [class.text-
                    error]="!user.isActive"
                  >
                    {{ user.isActive ? "Activo" : "Inactivo" }}
                  </span>
                </div>
              </td>

              <!-- Columna 4: Botones de Acción -->
              <td class="px-6 py-4 text-right">
                <div class="flex justify-end gap-2">
                  <button
                    class="btn btn-sm btn-circle btn-ghost text-slate-400 hover:text-primary hover:bg-primary/10"
                    (click)="prepararEdicion(user)"
                  >
                    <i class="bx bx-edit text-lg"></i>
                  </button>

                  <button
                    class="btn btn-sm btn-circle btn-ghost text-slate-400 hover:text-error hover:bg-error/10"
                    (click)="prepararEliminarUsuario(user.id, user.fullname)"
                  >
                    <i class="bx bx-trash text-lg"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modal-nuevo-usuario
  (usuarioCreadoExito)="cargarUsuarios()"
></app-modal-nuevo-usuario>

<!-- MODAL DE CONFIRMACIÓN DE ELIMINACIÓN -->
<!-- <app-modal-eliminar-usuario
      [usuarioAEliminar]="usuarioAEliminar()"
      (usuarioEliminadoExito)="cargarUsuarios()">
    </app-modal-eliminar-usuario> -->
<app-modal-confirmacion
  idModal="modalEliminar"
  titulo="¿Estás seguro?"
  mensajePrincipal="Deseas eliminar a"
  [textoResaltado]="usuarioAEliminar()?.nombre"
  textoBoton="Si, Eliminar"
  (confirmado)="llamarAlBackendParaEliminarUsuario()"
>
</app-modal-confirmacion>

<!-- MODAL EDITAR USUARIO -->
<app-modal-editar-usuario
  [usuario]="usuarioAEditar()"
  (usuarioEditadoExito)="cargarUsuarios()"
>
</app-modal-editar-usuario>
